<nav>
    <div class="nav-wrapper">
      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#" class="brand-logo">Авто-Адрес</a></li>
        <li><a href="/" class="active">Главная</a></li>
        <li><a href="/raboty">Виды работ</a></li>
        <li><a href="/addservice">Добавить сервис</a></li>
        <li><a href="/services">Все сервисы</a></li>
      </ul>
    </div>
  </nav>