
    <button class="open-popup" data-popup="popup1">Выберете город</button>
    <div id="popup1" class="popup hide-popup">
        <div class="popup-content">
            <div class="popup-header">
                <h3 class="modal-h3"> Модальное окно с регионами</h3> 
                <span class="close modal-close"> &times;</span>               
            </div>
            <div>
                <a href="#" class="modal-close" data-modal="#sign-in"> Костромская область </a>
            </div>
            <div class="row-modal">
                <ul>
                    <li class="city" id="1"> Москва</li>
                    <li class="city" id="2"> Санкт-Петербург</li>
                    <li class="city" id="3"> Архангельск</li>
                    <li class="city" id="4"> Астрахань</li>
                    <li class="city" id="5"> Балашиха</li>
                    <li class="city" id="6"> Барнаул</li>
                    <li class="city" id="7"> Белгород</li>
                    <li class="city" id="8"> Брянск</li>
                    <li class="city" id="9"> Владивосток</li>
                    <li class="city" id="10"> Владикавказ</li>
                    <li class="city" id="11"> Владимир</li>
                    <li class="city" id="12"> Волгоград</li>
                    <li class="city" id="13"> Волжский</li>
                    <li class="city" id="14"> Воронеж</li>
                    <li class="city" id="15"> Грозный</li>
                    <li class="city" id="16"> Екатеринбург</li>
                    <li class="city" id="17"> Иваново</li>
                    <li class="city" id="18"> Ижевск</li>
                    <li class="city" id="19"> Иркутск</li>
                    <li class="city" id="20"> Йошкар-Ола</li>
                    <li class="city" id="21"> Казань</li>
                    <li class="city" id="22"> Калининград</li>
                    <li class="city" id="23"> Калуга</li>
                    <li class="city" id="24"> Кемерово</li>
                    <li class="city" id="25"> Киров</li>
                    <li class="city" id="26"> Кострома</li>
                    <li class="city" id="27"> Краснодар</li>
                </ul>           
                <ul>
                    <li class="city" id="28"> Красноярск</li>
                    <li class="city" id="29"> Курган</li>
                    <li class="city" id="30"> Курск</li>
                    <li class="city" id="31"> Липецк</li>
                    <li class="city" id="32"> Магнитогорск</li>
                    <li class="city" id="33"> Махачкала</li>
                    <li class="city" id="34"> Мурманск</li>
                    <li class="city" id="35"> Набережные Челны</li>
                    <li class="city" id="36"> Нижневартовск</li>
                    <li class="city" id="37"> Нижний Новгород</li>
                    <li class="city" id="38"> Нижний Тагил</li>
                    <li class="city" id="39"> Новгород Великий</li>
                    <li class="city" id="40"> Новокузнецк</li>
                    <li class="city" id="41"> Новоросийск</li>
                    <li class="city" id="43"> Омск</li>
                    <li class="city" id="44"> Орёл</li>
                    <li class="city" id="45"> Оренбург</li>
                    <li class="city" id="46"> Пенза</li>
                    <li class="city" id="47"> Пермь</li>
                    <li class="city" id="48"> Петрозаводск</li>
                    <li class="city" id="49"> Подольск</li>
                    <li class="city" id="50"> Ростов-на-Дону</li>
                    <li class="city" id="51"> Рязань</li>
                    <li class="city" id="52"> Самара</li>
                    <li class="city" id="53"> Саранск</li>
                    <li class="city" id="54"> Саратов</li>
                </ul>                          
                <ul>
                   <li class="city" id="55"> Севастополь</li>
                    <li class="city" id="56"> Симферополь</li>
                    <li class="city" id="57"> Смоленск</li>
                    <li class="city" id="58"> Сочи</li>
                    <li class="city" id="59"> Ставрополь</li>
                    <li class="city" id="60"> Стерлитамак</li>
                    <li class="city" id="61"> Сургут</li>
                    <li class="city" id="62"> Таганрог</li>
                    <li class="city" id="63"> Тамбов</li>
                    <li class="city" id="64"> Тверь</li>
                    <li class="city" id="65"> Тольятти</li>
                    <li class="city" id="66"> Томск</li>
                    <li class="city" id="67"> Тула</li>
                    <li class="city" id="68"> Тюмень</li>
                    <li class="city" id="69"> Улан-Удэ</li>
                    <li class="city" id="70"> Ульяновск</li>
                    <li class="city" id="71"> Уфа</li>
                    <li class="city" id="72"> Хабаровск</li>
                    <li class="city" id="73"> Химки</li>
                    <li class="city" id="74"> Чебоксары</li>
                    <li class="city" id="75"> Челябинск</li>
                    <li class="city" id="76"> Череповец</li>
                    <li class="city" id="77"> Чита</li>
                    <li class="city" id="78"> Якутск</li>
                    <li class="city" id="79"> Ярославль</li>
                    
                </ul> 
            </div> 
        </div>         
    </div>                
    <button class="open-popup" data-popup="popup2">Укажите марку</button>
    <div>Ваш город: </div>
    <div id="popup2" class="popup hide-popup">
        <div class="popup-content">
            <div class="popup-header">
                <h3 class="modal-h3"> Модальное окно с марками</h3>
                <span class="close modal-close"> &times;</span>
            </div>
            <div class="row-modal">
   
                <ul>
                    <li> Lada (ВАЗ)</li>
                    <li> Audi</li>
                    <li> BMW</li>
                    <li> Cadillac</li>
                    <li> Chery</li>
                    <li> Chevrolet</li>
                    <li> Citroen</li>
                </ul>           
               <ul>
                    <li> Lada (ВАЗ)</li>
                    <li> Audi</li>
                    <li> BMW</li>
                    <li> Cadillac</li>
                    <li> Chery</li>
                    <li> Chevrolet</li>
                    <li> Citroen</li>
                </ul>                
               <ul>
                    <li> Lada (ВАЗ)</li>
                    <li> Audi</li>
                    <li> BMW</li>
                    <li> Cadillac</li>
                    <li> Chery</li>
                    <li> Chevrolet</li>
                    <li> Citroen</li>
                </ul>  
            </div>
        </div>
    </div>

                
    <div style="clear: both;"></div>
    <div class="tabs-popup div-wrap">
        <ul>
            <li class="tab" data-oper="1">ТО</li>
            <li class="tab" data-oper="2">Сервисное</li>
            <li class="tab" data-oper="3">Ходовая</li>
            <li class="tab" data-oper="4">КПП</li>
            <li class="tab" data-oper="5">Кузов</li>
        </ul>
    </div>

    <div class="div-wrap">
        <div class="tab-body" data="1">
            <p>Замена масляного фильтра</p> 
            <p>Замена масла</p> 
        </div>
    
        <div class="tab-body" data="2">
            <p><input type="checkbox">Заправка кондиционера</p>
            <p><input type="checkbox">Установка сигнализации</p>
        </div>
        <div class="tab-body" data="3">
            <p>Замена сайлентблоков</p> 
            <p>Замена амортизатора</p> 
        </div>
        <div class="tab-body" data="4">
            <p>Ремонт вариатора</p> 
            <p>Замена масла АКПП</p> 
        </div>
        
        <div class="tab-body" data="5">
            <p>Покраска бампера</p> 
            <p>Покраска крыла</p> 
        </div>
        
    </div>   
    <div id="vyvod"></div>
    