<div>Ваш город: Курск</div>
<h1> Работы и усуги автосервисов в Курске</h1>
<p> Подберите автосервис который, лучше всего вам подходит.</p>

<button class="open-popup" data-popup="popup-model">Укажите марку</button>
<button class="open-popup" id="work" data-popup="popup-work">Что нужно сделать</button>
<button id="btn-submit2" onclick="">Найти</button>

<div id="popup-model" class="popup hide-popup">
    <div class="popup-content">
        <div class="popup-header">
            <h3 class="modal-h3"> Модальное окно с марками</h3>
            <span class="close modal-close"> &times;</span>
        </div>
        <div class="row-modal-model">
            <ul class="mmenuu">
                <li class="select-model" id="audi" data-model="Audi">Audi
                    <ul class="ssubmenuu">
                <li class="select-model" id="audi-80" data-model="Audi 80">80</li>
                <li class="select-model" id="audi-90" data-model="Audi 80">90</li>
                <li class="select-model" id="audi-100" data-model="Audi 80">100</li>
                <li class="select-model" id="audi-a3" data-model="Audi A3">A3</li>
                <li class="select-model" id="audi-a4" data-model="Audi A4">A4</li>
                <li class="select-model" id="audi-a6" data-model="Audi A5">A5</li>
                <li class="select-model" id="audi-q5" data-model="Audi 80">Q5</li>
                </ul>
                </li>
            </ul>
            <ul class="mmenuu">
                <li class="select-model" id="bmw" data-model="BMW">BMW
                    <ul class="ssubmenuu">
                <li class="select-model" id="bmw-1" data-model="BMW 1">1</li>
                <li class="select-model" id="bmw-3" data-model="BMW 3">3</li>
                <li class="select-model" id="bmw-5" data-model="BMW 5">5</li>
                <li class="select-model" id="bmw-7" data-model="BMW 7">7</li>
                <li class="select-model" id="bmw-x1" data-model="BMW X1">X1</li>
                <li class="select-model" id="bmw-x3" data-model="BMW X3">X3</li>
                <li class="select-model" id="bmw-x5" data-model="BMW X5">X5</li>
                </ul>
                </li>
            </ul>
            <ul>
                
                <li> BMW</li>
                <li> Cadillac</li>
                <li> Chery</li>
                <li> Chevrolet</li>
                <li> Citroen</li>
            </ul>
            <ul>
                <li> Lada (ВАЗ)</li>
                <li> Audi</li>
                <li> BMW</li>
                <li> Cadillac</li>
                <li> Chery</li>
                <li> Chevrolet</li>
                <li> Citroen</li>
            </ul>
        </div>
    </div>
</div>
<div id="popup-work" class="popup hide-popup">
    <div class="popup-content">
    <div class="popup-header">
        <h3 class="modal-h3"> Модальное окно с услугами</h3>
        <span class="close modal-close"> &times;</span>
    </div>
    <div class="row-modal-work">
       <ul class="mmenuu">
            <li class="select-work" id="to">Техническое обслуживание
                <ul class="ssubmenuu">
            <li class="select-work" id="zamena-masla-v-dvigatele">Замена масла в двигателе</li>
            <li class="select-work" id="">Замена масляного фильтра</li>
            <li class="select-work" id="">Замена воздушного фильтра</li>
            <li class="select-work" id=""> Замена салонного фильтра</li>
            <li class="select-work" id=""> Замена топливного фильтра</li>
            <li class="select-work" id=""> Замена свечей зажигания</li>
            <li class="select-work" id=""> Замена приводных ремней</li>
            <li class="select-work" id=""> Замена ремня ГРМ</li>
            <li class="select-work" id=""> Замена роликов приводных ремней</li>
            <li class="select-work" id=""> Замена тормозной жидкости</li>
            <li class="select-work" id=""> Замена охлаждающей жидкости</li>
            <li class="select-work" id=""> Техосмотр</li>
            <li class="select-work" id=""> Замена масла АКПП</li>
            <li class="select-work" id=""> Замена масла МКПП</li>
            <li class="select-work" id=""> Замена масла в вариаторе</li>
            <li class="select-work" id=""> Замена масла в раздаточной коробке</li>
            </ul>
            </li>
       </ul>

            <li class="select-work" id="remont-podveski">Ремонт и диагностика подвески</li>

            <li class="select-work" id="zamena-amortizatorov">Замена амортизаторов</li>
            <li class="select-work" id="zamena-pruzhin">Замена пружин</li>
            <li class="select-work" id="zamena-saylentblokov">Замена сайлентблоков рычагов</li>
            <li class="select-work" id="zamena-saylentblokov-balki">Замена сайлентблоков задней балки</li>
            <li class="select-work" id="zamena-saylentblokov-podramnika"> Замена сайлентблоков подрамника</li>
            <li class="select-work" id="zamena-rychagov"> Замена рычагов</li>
            <li class="select-work" id="zamena-opornogo-podshipnika"> Замена опорного подшипника</li>
            <li class="select-work" id=""> Замена опоры стойки</li>
            <li class="select-work" id=""> Замена шаровой опоры</li>
            <li class="select-work" id=""> Замена стоек стабилизатора</li>
            <li class="select-work" id=""> Замена втулок стабилизатора</li>
            <li class="select-work" id=""> Замена ступицы</li>
            <li class="select-work" id=""> Замена подшипника ступицы</li>
            <li class="select-work" id=""> Сход-развал</li>
            <li class="select-work" id=""> Ремонт пневмоподвески</li>
            <li class="select-work" id=""> Замена поворотного кулака</li>

            <li>Ремонт тормозной системы</li>
            <li> Замена передних тормозных колодок</li>
            <li> Замена задних тормозных колодок</li>
            <li> Замена передних тормозных дисков</li>
            <li> Замена задних тормозных дисков</li>
            <li> Замена тормозных барабанов</li>
            <li> Замена тормозного суппорта</li>
            <li> Замена тормозного шланга</li>
            <li> Замена троса ручника</li>
            <li> Замена датчика ABS</li>
            <li> Замена вакуумног усилителя</li>
            <li> Замена крестовины рулевого вала</li>
            <li> Прокачка тормозной системы</li>
            <li> Проточка тормозных дисков</li>
            <li> Регулировка стояночного тормоза</li>
            <li> Ремонт тормозного суппорта</li>
            <li> Смазка тормозного суппорта</li>

            <li>Ремонт рулевого</li>

            <li> Замена рулевых наконечников</li>
            <li> Замена рулевых тяг</li>
            <li> Замена пыльника рулевой рейки</li>
            <li> Замена рулевой рейки</li>
            <li> Замена насоса ГУР</li>
            <li> Замена ремня ГУР</li>
            <li> Замена масла ГУР</li>
            <li> Замена сальников ГУР</li>
            <li> Замена шланга ГУР</li>
            <li> Замена трубки ГУР</li>
            <li> Замена крестовины рулевого вала</li>
            <li> Прокачка ГУР</li>
            <li> Ремонт рулевой рейки</li>
            <li>Ремонт трансмиссии</li>

            <li> Замена сцепления</li>
            <li> Замена сцепления DSG</li>
            <li> Замена выжимного подшипника</li>
            <li> Замена гидроблока</li>
            <li> Замена карданного вала</li>
            <li> Замена крестовин кардана</li>
            <li> Замена цилиндра сцепления</li>
            <li> Замена троса сцепления</li>
            <li> Замена главного цилиндра</li>
            <li> Замена вакуумного усилителя</li>
            <li> Замена крестовины рулевого вала</li>
            <li> Замена сальника коробки</li>
            <li> Замена приводного вала</li>
            <li> Замена наружнего ШРУСа</li>
            <li> Замена внутреннего ШРУСа</li>
            <li> Замена пыльника ШРУСа</li>
            <li> Замена подвесного подшипника</li>
            <li> Регулировка сцепления</li>
            <li> Ремонт карданного вала</li>
            <li> Ремонт МКПП</li>
            <li> Ремонт АКПП</li>
            <li> Ремонт вариатора</li>
            <li> Ремонт DSG</li>

            <li>Двигатель</li>

            <li> Диагностика двигателя</li>
            <li> Замена ГРМ</li>
            <li> Замена цепи ГРМ</li>
            <li> Замена прокладки ГБЦ</li>
            <li> Замена прокладки клапанной крышки</li>
            <li> Замена сальника распредвала</li>
            <li> Замена сальника коленвала</li>
            <li> Замена поршневых колец</li>
            <li> Замена форсунок</li>
            <li> Замена гидрокомпенсаторов</li>
            <li> Замена маслосъемных колпачков</li>
            <li> Замена свечей зажигания</li>
            <li> Замена свечей накаливания</li>
            <li> Замена турбины</li>
            <li> Замена опоры двигателя</li>
            <li> Капитальный ремонт двигателя</li>
            <li> Регулировка клапанов</li>
            <li> Ремонт турбины</li>
            <li> Шлифовка головки блока</li>

            <li>Охлаждение и обогрев</li>

            <li> Диагностика кондиционера
            <li> Замена радиатора двигателя
            <li> Замена радиатора печки
            <li> Замена радиатора кондиционера
            <li> Замена термостата
            <li> Замена моторчика печки
            <li> Замена датчика температуры
            <li> Замена охлаждающей жидкости
            <li> Заправка кондиционера
            <li> Замена ремня кондиционера
            <li> Замена патрубков
            <li> Замена вакуумного усилителя
            <li> Замена крестовины рулевого вала
            <li> Опрессовка кондиционера
            <li> Промывка радиатора
            <li> Ремонт компрессора
            <li> Ремонт радиатора
            <li> Чистка кондиционера

            <li>Топливная система</li>

            <li> Диагностика топливной системы</li>
            <li>Замена топливного фильтра</li>
            <li> Замена топливного насоса</li>
            <li> Замена датчика топлива</li>
            <li> Замена топливного шланга</li>
            <li> Замена ТНВД</li>
            <li> Замена форсунок</li>
            <li> Промывка топливной системы</li>
            <li> Ремонт топливного бака</li>
            <li> Ремонт ТНВД</li>
            <li> Ремонт газового оборудования</li>
            <li> Установка газового оборудования</li>
            <li> Чистка инжектора</li>
            <li> Чистка топливных форсунок</li>

            <li>Выхлопная система</li>

            <li> Диагностика выхлопной системы</li>
            <li> Замена гофры</li>
            <li> Замена резонатара</li>
            <li> Замена глушителя</li>
            <li> Замена лямбда зонда</li>
            <li> Замена выпускного коллектора</li>
            <li> Сварка глушителя</li>
            <li> Тюнинг выхлопной системы</li>
            <li> Удаление мажевого фильтра</li>
            <li> Удаление катализатора</li>
        </ul>

        <ul>
            <li>Электрика</li>
            <li> Диагностика электрики</li>
            <li> Замена генератора</li>
            <li> Замена стартера</li>
            <li> Замена замка зажигания</li>
            <li> Замена катушки зажигания</li>
            <li> Замена ламп</li>
            <li> Замена фильтра</li>
            <li> Замена предохранителя</li>
            <li> Замена датчика температуры</li>
            <li> Замена датчика коленвала</li>
            <li> Замена датчика кислорода</li>
            <li> Покраска крыла</li>
            <li> Покраска двери</li>
            <li> Прошивка ЭБУ</li>
            <li> Ремонт генератора</li>
            <li> Ремонт стартера</li>

            <li>Кузовной ремонт</li>

            <li> Восстановление геометрии кузова</li>
            <li> Замена бампера</li>
            <li> Замена двери</li>
            <li> Замена крыла</li>
            <li> Замена капота</li>
            <li> Замена крышки багажника
            <li> Замена порогов</li>
            <li> Полная покраска автомобиля</li>
            <li> Покраска одной детали</li>
            <li> Покраска бампера</li>
            <li> Покраска крыла</li>
            <li> Покраска двери</li>
            <li> Покраска крыши</li>
            <li> Сварочные работы</li>
            <li> Удаление вмятин без покраски</li>

            <li>Стекла, оптика, зеркала</li>

            <li> Замена лобового стекла</li>
            <li> Замена бокового стекла</li>
            <li> Замена стеклоподъемника</li>
            <li> Замена фары</li>
            <li> Замена заднего фонаря</li>
            <li> Замена поворотника</li>
            <li> Замена лампочек</li>
            <li> Ремонт лобового стекла</li>
            <li> Ремонт зеркала</li>
            <li> Ремонт стеклоподъемника</li>
            <li> Полировка стекла</li>
            <li> Полировка фар</li>
            <li> Тонировка стекол</li>
            <li> Удаление трещин и сколов</li>



            <li>Шиномонтаж</li>
            <li> Балансировка</li>
            <li> Вулканизация</li>
            <li> Выездной шиномонтаж</li>
            <li> Ошиповка резины</li>
            <li> Покраска дисков</li>
            <li> Правка дисков</li>
            <li> Сварка дисков</li>
            <li> Устранение проколов</li>
            <li> Устранение боковых порезов</li>
            <li> Храненние резины</li>

            <li>Мойка</li>
            <li> Антидождь</li>
            <li> Жидкое стекло</li>
            <li> Комплексная мойка</li>
            <li> Мойка кузова</li>
            <li> Мойка колес</li>
            <li> Мойка двигателя</li>
            <li> Мойка самообслуживания</li>
            <li> Полировка кузова</li>
            <li> Полировка царапин</li>
            <li> Химчистка салона</li>
            <li> Чернение резины</li>

            <li>Детейлинг</li>
            <li> Бронирование фар</li>
            <li> Виброшумоизоляция</li>
            <li> Оклейка кузова пленкой</li>
            <li> Перетяжка руля</li>
            <li> Перетяжка сидений</li>
            <li> Перетяжка салона</li>
            <li> Перетяжка торпеды</li>
            <li> Тонировка стекол</li>
            <li> Тюнинг двигателя</li>
            <li> Тюнинг подвески</li>
            <li> Тюнинг тормозов</li>
            <li> Установка дефлекторов</li>
            <li> Установка обвеса</li>
            <li> Шумоизоляция</li>
        </ul>
    </div>
</div>
</div>

<p> Подбор возможен по следующим параметрам:</p>
<ul>
    <li>По видам услуг</li>
    <li>По местоположению</li>
    <li>По марке авто</li>
    <li>По графику работы</li>
</ul>