<h1> Работы и усуги автосервисов в Воронеже</h1>
   <p> Подберите автосервис который, лучше всего вам подходит.</p>
   <p> Подбор возможен по следующим параметрам:</p>
      <ul>
         <li>По видам услуг</li>
         <li>По местоположению</li>
         <li>По марке авто</li>
         <li>По графику работы</li>
      </ul>
  {{#each services}}
   <div class="card">
     <p>Название: {{name}} Адрес: {{adress}}</p>
    
     <div><a href="#">Подробнее</a></div>
    </div>
      {{/each}}